<%- include("partials/header") -%>
    <form class="" action="/addArticle" method="post">
      <input class="topic" type="text" value="" name="addTopic" placeholder="Topic" autocomplete="off">
      <br><br>
      <input class="content" type="text" value="" name="addContent" placeholder="" autocomplete="off">
      <br><br>
      <button type="submit" name="button">Submit</button>
    </form>
<%- include("partials/footer") -%>
